<div class="container">
<div class="row">
    <div class="col-md-12">
        <h2>Packages <a href="/dataClerk/addPackage" class="btn btn-dark pull-right">Add Meal Package</a></h2>
        
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Package&nbsp;ID</th>
                        <th>Package&nbsp;Name</th>
                        <th>Price</th>
                        <th>Meals</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <td><a href="/dataClerk/package/{{packageID}}">{{packageID}}</a></td>
                            <td>{{name}}</td>
                            <td>{{price}}</td>
                            <td>{{meals}}</td>
                            <td>{{category}}</td>
                            <td><a href="/dataClerk/package/delete/{{packageID}}" class="btn btn-danger">Remove</a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>