<h2>Customer Login</h2>

<div class="form">
    <form method="POST" action="login" id="log">
        {{{signedUp}}}
        <div class="form-group">    
            <div class="error">{{err}}</div>
            <label for="email">Email: </label>
            <input class="form-control" type="email" name="email" value="{{email}}">
            <div class="error">{{emailError}}</div>
            
            <label for="password">Password: </label>
            <input class="form-control" type="password" name="password">
            <div class="error">{{passError}}</div>
        </div>
        <button class="btn btn-dark" name="log" value="submit">Sign In</button>
    </form>
</div>