<div class="hero">
    <div class="hero-text">
    <h1>{{hero}}</h1>
    </div>
</div>
<h2>Pick a package, choose your meals, achieve your goal - it's that easy!</h2>
    
    <div id="package">
        
        {{#each packages}}

        <div class="package">
            <div class="image">
                <img src={{this.img}} width="240"> 
            </div>
            <div class="description">
                <h3>{{this.name}}</h3>
                <p>
                    {{this.desc}}<br>
                    ${{this.price}}
                </p>
            </div>
        </div>
        {{/each}}        
    </div>