<div class="hero">
    <div class="hero-text">
        <h1>{{hero}}</h1>
    </div>
</div>
<h2>Pick a package, choose your meals, achieve your goal - it's that easy!</h2>

<div class="container">
    <div class="row">

        {{#each packages}}

        <div class="col-lg-3 col-md-6">
            <div class="image">
                <img src="/img/{{image}}" width="200">
            </div>
            <div class="description">
                <h3>{{name}}</h3>
                <p>
                    {{description}}<br>
                    ${{price}}
                </p>
                <a href="/products/packageDetails/{{packageID}}"><button class="btn btn-dark">View this
                        package</button></a>
            </div>

        </div>

        {{/each}}
    </div>
</div>