<div class="container">
    
    {{#each package}}
        <div class="row">
            <div class="col-md-6">
                <div class="image">
                    <img src="/img/{{image}}" width="400">
                </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                   <div class="col-md-12">
                       <h1>{{name}}</h1>
                       <hr />
                   </div>
                   {{/each}}
                   
                   <div class="col-md-{{#if session.user}}6{{else}}12{{/if}}">
                       {{#each package}}
                       <h2>${{price}}</h2>
                       {{/each}}
                                                  
                   </div>
                   {{#if session.user}}
                        <div class="col-md-4">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="100" maxlength="4">                            
                        </div>
                        {{/if}}
                        
                   
                   {{#each package}}
                   <div class="col-md-12 description">
                       <p>{{description}}<br><br>No. of meals: {{meals}}</p>
                   </div>
    {{/each}}
                   <div class="col-md-12">
                       {{#if session.user}}
                       {{#each package}}
                            <a href="/user/addPackage/{{packageID}}"><button class="btn btn-dark">Add to cart</button></a>
                        {{/each}}
                        {{/if}}
                   </div>
               </div> 
            </div>
        </div>
    
</div>